/*GLOBAL*/

* {
    box-sizing: border-box;
    position:relative;
}

h1{
    font-family: Helvetica;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0;
    padding: 0px 0px;
}

a{
    text-decoration: none;
    color: white;
    font-family: helvetica;
    border-radius: 8px;
    border: none;
}

a:hover{
    text-decoration: none;
    color: white;
    font-family: helvetica;
    background-color: rgba(0, 0, 0, 0.3);
}


.container {
    margin: 0 auto;
    overflow: auto;
}

.static{
    position:static;
}

.invisible{
    visibility: hidden;
    position: absolute;
}

.link-spanner{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 4;
  }


  .strong{
    font-weight: bold;
}

.em{
    font-style: italic;
}


  /*NAV BAR*/



.top-nav{
    padding: 9px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3)
}

.nav{
    float: right;
    padding-top: 1px;
    margin-right: 5px;
}

.nav > a{
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    z-index: 5;
}


/*320px NAV BAR */

@media only screen and (max-width: 320px) {

    .top-nav{
        padding: 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, .3)
    }

    .nav{
        width: 100%;
        text-align: right;
    }

    .nav > a{
        display: block;
        padding: 1px 1px 1px 1px ;
        text-transform: uppercase;
        border-radius: 3px;
        font-weight: bold;
        font-size:16.5px;
        color: white;
    }

}


/*HERO*/

.hero{
    width: 100%;
}

   .selfie {
width: 100%;
height: auto;
padding-top: 48%;
margin: 0 auto 3%;
background: no-repeat;
background-image: url(self.jpg);
background-position: 60% 0;
background-size: cover;
position: relative;
}

.name{
    /*visibility: invisible;*/
    font-size: 100px;
    /*position: absolute;*/
}


/*471px AND UNDER HERO */
@media only screen and (max-width: 471px) {
    .name{
        font-size: 70px;}
}

/*320px  AND UNDER HERO */
@media only screen and (max-width: 320px) {

       .selfie {
    border-radius: 50%;
    width: 45%;
    height: auto;
    padding-top: 45%;
    margin: 0 auto 4%;
    background: no-repeat;
    background-image: url(self.jpg);
    background-position: 52% 20%;
    background-size: cover;
    position: relative;
    z-index: 2;
    }

    .name {
        visibility: visible;
        position: relative;
        font-size: 60px;
    }
}



/*ABOUT*/

.about a{
    color: black;
    padding: 2px 2px;
}

.body {

    text-align: justify;
    font-size: 50px;
    display: inline;
    font-family: helvetica;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}



/*471px AND UNDER ABOUT*/
@media only screen and (max-width: 471px) {
    .body{
        font-size: 30px;
        text-align: center;
        display: block;
    }
}


.section{
    padding: 57px 0 100px 0;
}

.contact{
    padding-bottom: 400px;
}

